.page_layout {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.grid_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  gap: 15px;
  margin-left: 8%;
  margin-right: 8%;
}

.grid_list_horizontal {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  gap: 10px;
}

.item {
  background-color: pink;
}

.item_horizontal {
  background-color: #ffffff50;
  cursor: pointer;
}

.item_horizontal:hover {
  background-color: #ffffff;
}

.item_horizontal_dark {

  cursor: pointer;
}

.item_horizontal_dark:hover {
  background-color: #00000060;
}


.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.promo_slideshow {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.type-tag {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: small;
  font-weight: bold;
}

.tags {
  list-style: none;
  padding: 0;
}

.tags li {
  cursor: pointer;
  padding: 3px 8px 3px 8px;
  margin: 2px 5px 2px 0px;
  border-radius: 20px;
  font-size: small;
  font-weight: bold;
  color: white;
  background-color: red;
  display: inline-block;
}

/* .selection-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
} */

.selection-bar {
  height:42px;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 10px;
  border-radius: 100px;
  box-shadow: 2px 2px 5px #00000020;
  transition: background-color 1.3s ease;
}

.option-unselected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:100%;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  color: rgba(152, 66, 66, 0.513);
  transition: background-color 0.3s ease;
}

.option-selected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:100%;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: white;
  background-color: rgb(152, 66, 66);
}

.option-unselected:hover{
  color: white;
  background-color: rgba(152, 66, 66, 0.513);
}

.tab {
  font-size: small;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}