@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; 
  --background-start-rgb: 247, 246, 240;
  --background-end-rgb: 247, 246, 240;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) !important;

  padding: 0rem 1rem
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 600;
  font-size: large;
}

.give-button {
  padding: 8px 40px;
  border-radius: 100px;
  border-width: 1px;
  border-color: rgb(255,255,255,0.8);
  cursor: pointer
}

.give-button:hover {
  background-color: rgb(255,255,255,0.8);
  color: maroon
}

.more-button {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  padding: 8px 40px;
  border-radius: 100px;
  border-width: 1px;
  border-color: rgba(39, 37, 37, 0.8);
  cursor: pointer
}

.more-button:hover {
  background-color: rgba(39, 37, 37, 0.8);
  color: rgb(255,255,255);

}
