.page_layout {
  /* display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 30px; */
  margin-left: 10%;
  margin-right: 10%;
}

.image_wrapper {
    margin-top: 0.8%;
    position: relative;
    list-style: none;
    /* margin: 0.8% 4% 0% 4%; */
  }

  
  
  .image {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  
  .image_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay-main {
    position: absolute;
    left: 8%;
    top: 30%;
    width: 35%;
  }
  
  .overlay-main h1 {
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    color: white;
    margin-bottom: 15px;
  }
  
  .overlay-main h2 {
    font-size: medium;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
  }
  
  .overlay-main p {
    font-size: small;
    color: white;
    margin-bottom: 20px;
  }
  
  .overlay-container {
    position: absolute;
    left: 67%;
    top: 30%;
    width: 25%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .overlay-container h1 {
    font-size: large;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
  }
  
  .overlay-container p {
    font-size: medium;
    color: black;
    margin-bottom: 15px;
  }
  
  .overlay-container button {
    height: 50px;
    width: 100%;
    background-color: maroon;
    font-size: medium;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .overlay-container .signedup {
    height: 50px;
    width: 100%;
    border: 1px solid maroon;
    font-size: medium;
    color: maroon;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .two-column-container {
    display: flex;
    margin: 0% 8% 6% 8%;
  }
  
  .column-left {
    flex: 68%;
    margin: 6% 10% 0% 0%;
    /* padding: 6% 8% 0px 8%; */
  }
  
  .column-right {
    flex: 32%;
    padding: 6% 0% 0% 0%;
  }
  
  .two-column-container h1 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .tags {
    list-style: none;
    padding: 0;
  }
  
  .tags li {
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    margin: 2px 5px 2px 0px;
    border-radius: 10px;
    /* font-size: medium; */
    /* font-weight: bold; */
    color: white;
    background-color: maroon;
    display: inline-block;
  }
  
  .container {
    /* display: flex; */
    /* border: 1px solid maroon; */
    margin: 0% 8% 6% 8%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    /* height: 40%; */
  }
  
  .container h1 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .grid_list {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    padding: 0;
    gap: 15px;
    width: 100%;
  }
  
  .item {
    background-color: pink;
    display: flex;
    height: 100px;
    border-radius: 10px;
  }
  
  .index {
    flex: 2%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profilepic {
    flex: 10%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding: 10px; */
    overflow: hidden;
  }
  
  .profilepic img {
    height: 80px;
    width: auto;
    border-radius: 50%;
    margin: 10px;
    /* margin-top: 10px 0% 10px 0%; */
  }
  
  .details {
    margin: 10px 10px 10px 10px;
    flex: 68%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .details h1 {
    /* font-weight: bold;
    font-size: small; */
    font-size: medium;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .details p {
    font-size: small;
    margin-bottom: 5px;
  }
  
  .markattendance {
    flex: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
  }
  
  .markattendance button {
    background-color: maroon;
    color: white;
    padding: 5px 8px 5px 8px;
    font-size: small;
    border-radius: 5px;
    width: 80%;
  }
  
  .marked {
    display: flex;
    align-items: center;
    justify-content: center;
    color: maroon;
    padding: 5px 8px 5px 8px;
    font-size: small;
    border-radius: 5px;
    border: 1px solid maroon;
    width: 80%;
  }
  
  .submitattendance {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .submitattendance button {
    background-color: maroon;
    color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .four-column-container {
    display: flex;
    margin: 0% 8% 0% 8%;
    gap: 20px;
  }
  
  .column-four {
    flex: 25%;
    /* margin: 6% 10% 0% 0%; */
    /* padding: 6% 8% 0px 8%; */
  }
  
  .grid-item {
    background-color: #2e2a2a;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer
  }

  .grid-item:hover {
    box-shadow: 2px 2px 5px #00000070;
    opacity: 80%
  }
  
  .grid-item img {
    width: 96%;
    margin: 0 4px 2% 4px;
    border-radius: 8px;
  }
  
  .grid-item h1 {
    font-weight: bold;
    padding: 0 8px 0px 8px;
  }
  
  .grid-item p {
    font-size: small;
    padding: 0 8px 8px 8px;
  }
  
  .postform {
    margin: 0% 8% 6% 8%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
  }
  
  .postform h1 {
    font-size: large;
    font-weight: bold;
  }
  
  .postcontent {
    display: flex;
    flex-direction: column;
  }
  
  .postform input[type="checkbox"] {
    margin: 10px 15px 10px 0;
  }
  
  .postform select {
    background-color: pink;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .postform textarea {
    padding: 10px;
    border: 1px solid maroon;
    margin-bottom: 10px;
  }
  
  .postform button {
    background-color: pink;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
    border-radius: 5px;
  }
  